{% extends 'base.html' %}
{% load static %}

{% block title %}Audiobooks{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main/index.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="col-6">
                        <span>Audiobooks</span>
                    </div>

                    <div class="col-6 col-lg-5">
                        <form>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Buscar audiobooks" name="q" value="{% if q %}{{ q }}{% endif %}">
                                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                {% if has_audiobooks %}
                    <div class="row d-flex flex-wrap justify-content-evenly align-items-center">
                        {% for audiobook in page_obj %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card mb-3 ">
                                <img src="{{ MEDIA_URL }}{{ audiobook.book.front_cover }}" class="card-img-top thumbnail front-cover" alt="Livro: {{ audiobook.book.title }}">
                                <div class="card-body">
                                    <p class="mb-1 h5 text-capitalize text-center">{{ audiobook.book.title }}</p>
                                    <p class="my-1"><span class="fw-bold">Narrador:</span> {{ audiobook.storyteller.full_name }}</p>
                                    <p class="mt-1 mb-3"><span class="fw-bold">Tipo de Narração:</span> {{ audiobook.get_narration_type_display }}</p>

                                    <div class="d-grid">
                                        <a href="{% url 'audiobooks:play' audiobook.id %}" class="btn btn-sm btn-block btn-primary"><i class="bi bi-play"></i> Reproduzir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm justify-content-center m-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeiro</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                </li>
                            {% endif %}
                            <li class="page-item disabled"><a class="page-link" href="#">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% else %}
                <p class="text-center m-0">Não há <span class="fst-italic">audiobooks</span> cadastrados{% if q %} com a descrição similar a '<span class="fw-bold">{{ q }}</span>'{% endif %}.</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/main/index.js' %}"></script>
{% endblock %}