{% extends 'base.html' %}
{% load static %}

{% block title %}Novo Usuário{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <span>{% if user.id %}Editar{% else %}Novo{% endif %} Usuário</span>

                        <a class="btn btn-sm btn-secondary" href="{% url 'users:index' %}">Voltar</a>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="row g-3">
                            {% csrf_token %}
                            <div class="col-md-6 col-lg-4">
                                <label for="{{ form.first_name.id_for_label }}"
                                       class="form-label">{{ form.first_name.label }}</label>
                                <input type="text" class="form-control form-control-sm text-capitalize {% if form.first_name.errors %}is-invalid{% endif %}"
                                       id="{{ form.first_name.id_for_label }}"
                                       maxlength="{{ form.fields.first_name.max_length }}"
                                       name="{{ form.first_name.html_name }}"
                                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                                {% if form.first_name.errors %}
                                <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <label for="{{ form.last_name.id_for_label }}"
                                       class="form-label">{{ form.last_name.label }}</label>
                                <input type="text" class="form-control form-control-sm text-capitalize {% if form.last_name.errors %}is-invalid{% endif %}"
                                       id="{{ form.last_name.id_for_label }}"
                                       maxlength="{{ form.fields.last_name.max_length }}"
                                       name="{{ form.last_name.html_name }}"
                                       value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                                {% if form.last_name.errors %}
                                <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <label for="{{ form.username.id_for_label }}"
                                       class="form-label">{{ form.username.label }}</label>
                                <input type="text" class="form-control form-control-sm text-lowercase {% if form.username.errors %}is-invalid{% endif %}"
                                       id="{{ form.username.id_for_label }}"
                                       maxlength="{{ form.fields.username.max_length }}"
                                       name="{{ form.username.html_name }}"
                                       value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                                {% if form.username.errors %}
                                <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <label for="{{ form.email.id_for_label }}"
                                       class="form-label">{{ form.email.label }}</label>
                                <input type="email" class="form-control form-control-sm text-lowercase {% if form.email.errors %}is-invalid{% endif %}"
                                       id="{{ form.email.id_for_label }}" maxlength="{{ form.fields.email.max_length }}"
                                       name="{{ form.email.html_name }}"
                                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                                {% if form.email.errors %}
                                <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-6 col-md-6 col-lg-4">
                                <label for="{{ form.password1.id_for_label }}"
                                       class="form-label">{{ form.password1.label }}</label>
                                <input type="password" class="form-control form-control-sm"
                                       id="{{ form.password1.id_for_label }}"
                                       name="{{ form.password1.html_name }}"
                                       value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
                            </div>
                            <div class="col-6 col-md-6 col-lg-4">
                                <label for="{{ form.password2.id_for_label }}"
                                       class="form-label">{{ form.password2.label }}</label>
                                <input type="password" class="form-control form-control-sm {% if form.password2.errors %}is-invalid{% endif %}"
                                       id="{{ form.password2.id_for_label }}"
                                       name="{{ form.password2.html_name }}"
                                       value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
                                {% if form.password2.errors %}
                                <div class="invalid-feedback">
                                {% for error in form.password2.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-6 col-md-6 col-lg-4">
                                <label for="group" class="form-label">Perfil de Usuário</label>
                                <select id="group" name="group" class="form-select form-select-sm">
                                    {% if groups %}
                                        <option disabled>--- Selecione ---</option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}"
                                                    class="text-capitalize">{{ group.name }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option selected disabled>Nenhum grupo cadastrado</option>
                                    {% endif %}
                                </select>
                            </div>
                            {% if user.id %}
                                <div class="col-6 col-md-6 col-lg-4 mt-5">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                               id="{{ form.is_active.id_for_label }}"
                                               name="{{ form.is_active.html_name }}"
                                               {% if form.is_active.value %}checked{% endif %}>
                                        <label class="form-check-label"
                                               for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="d-flex justify-content-end col-12">
                                <button type="submit" class="btn btn-sm btn-primary">{% if user.id %}Modificar{% else %}
                                    Cadastrar{% endif %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/users/create.js' %}"></script>
{% endblock %}