{% extends 'base.html' %}
{% load static %}

{% block title %}Usuários{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <span>Usuários</span>

                        <a class="btn btn-sm btn-primary" href="{% url 'users:create' %}">Novo</a>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Usuário</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Perfil</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if has_users %}
                            {% for user in page_obj %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-capitalize">{{ user.first_name }} {{ user.last_name }}</td>
                                    <td class="text-lowercase">{{ user.username }}</td>
                                    <td class="text-lowercase">{{ user.email }}</td>
                                    <td class="text-capitalize">{{ user.group }}</td>
                                    <td>
                                        {% if user.is_active %}
                                            <span class="badge rounded-pill bg-success">&nbsp;Ativo&nbsp;</span>
                                        {% else %}
                                            <span class="badge rounded-pill bg-danger">Inativo</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="d-grid gap-2 d-md-block">
                                            <a href="{% url 'users:change' user.id %}" class="btn btn-sm btn-outline-warning">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-sm btn-outline-danger">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr class="text-center">
                                    <td colspan="7">Não há usuários cadastrados</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeiro</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                    </li>
                                {% endif %}
                                <li class="page-item disabled"><a class="page-link"
                                                                  href="#">Página {{ page_obj.number }}
                                    de {{ page_obj.paginator.num_pages }}</a></li>
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}">Próximo</a>
                                    </li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.paginator.num_pages }}">Último
                                        &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}